@charset "utf-8";
/*引入思源黑体*/
@font-face {
  font-family: "SourceHanSansCN-Normal";
  src: url("../fonts/SourceHanSansCN-Normal.woff2") format("woff2"),
       url("../fonts/SourceHanSansCN-Normal.woff") format("woff"),
       url("../fonts/SourceHanSansCN-Normal.ttf") format("truetype"),
       url("../fonts/SourceHanSansCN-Normal.eot") format("embedded-opentype"),
       url("../fonts/SourceHanSansCN-Normal.svg") format("svg");
}
body,
html{
	font-family: "Microsoft YaHei";
}
.warp{
	position: relative;
	max-width: 1920px;
	min-width: 1200px;
	overflow: hidden;
	margin: 0 auto;
}
.warp .footer{
	z-index: inherit;
}
#top_bar{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 88px;
	border-bottom: 1px solid rgba(255,255,255,.16);
	min-width: 1255px;
	-webkit-transition: background .5s ease;
	-moz-transition: background .5s ease;
	-ms-transition: background .5s ease;
	-o-transition: background .5s ease;
	transition: background .5s ease;
}
#top_bar .left_part{
	position: absolute;
	top: 16px;
	left: 24px;
	z-index: 10;
}
#top_bar .logo_wrap .icon_logo{
	float: left;
	width: 101px;
	height: 101px;
	margin-right: 14px;
	/*background: url(../images/img.png) -165px -195px no-repeat;*/
	background: url(../images/logo.png?v=20191126) no-repeat;
	background-size: 100% 100%;
	margin: 8px 0;
	text-indent: -999em;
}
#top_bar .logo_wrap p{
	float: left;
	color: #fff;
	font-size: 24px;
	line-height: 20px;
	margin: 20px 0 0 30px;
}
#top_bar .logo_wrap p span,
#top_bar .er_logo p span{
	font-size: 16px;
}
#top_bar .er_logo{
	width: 169px;
	height: 67px;
	background: url(../images/er_logo.png?v=20191126) no-repeat;
	position: absolute;
	top: -5.5px;
	left: -11px;
	display: none;
}
#top_bar .er_logo .gumballs_logo{
	width: 65px;
	height: 65px;
	text-indent: -999em;
	position: absolute;
	top: 0;
	right: 0;
}
#top_bar .er_logo p{
	color: #fff;
	font-size: 24px;
	line-height: 20px;
	position: absolute;
	top: 13px;
	right: -216px;
}
#top_bar .topnav_list{
	position: absolute;
	top: 33px;
	right: 15px;
	z-index: 10;
}
#top_bar .topnav_list li{
	position: relative;
	float: left;
	width: 90px;
	height: 22px;
	margin: 0 28px;
}
#top_bar .topnav_list li a,
#top_bar .topnav_drop .topnav_drop_div .topnav_drop_list li a{
	width: 100%;
	height: 22px;
	display: block;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 22px;
	transition: all .3s;
}
#top_bar .topnav_list li a:hover,
#top_bar.fixed .topnav_list li a:hover,
#top_bar:hover .topnav_list li a:hover,
#top_bar .topnav_drop .topnav_drop_div .topnav_drop_list li a:hover{
	color: #c9ad7d;
}
#top_bar.fixed{
	position: fixed!important;
}
#top_bar.fixed,
#top_bar:hover{
	background: #f7f7f7;
	border-bottom: 1px solid #fcfcfc;
	background: #fff\9;
}
#top_bar.fixed .logo_wrap{
	display: none;
}
#top_bar.fixed .er_logo{
	display: block;
}
#top_bar.fixed .er_logo p,
#top_bar:hover .logo_wrap p{
	color: #354d5c;
}
#top_bar.fixed .er_logo p span,
#top_bar:hover .logo_wrap p span{
	color: #c9ad7d;
}
#top_bar.fixed .topnav_list li a,
#top_bar:hover .topnav_list li a,
#top_bar .topnav_drop .topnav_drop_div .topnav_drop_list li a{
	color: #324958;
}
#top_bar .topnav_drop{
	width: 100%;
	min-width: 1255px;
	height: 0;
	background: rgba(255,255,255,.9);
	border-bottom: 1px solid #b4acad;
	position: absolute;
	top: 89px;
	left: 0;
	opacity: 0;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	overflow: hidden;
}
#top_bar:hover .topnav_drop{
	opacity: 1;
	height: 218px;
}
#top_bar .topnav_drop .topnav_drop_div{
	position: absolute;
	top: 21px;
	right: 15px;
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	-ms-transition: all .8s;
	-o-transition: all .8s;
	transition: all .8s;
	opacity: 0;
}
#top_bar:hover .topnav_drop .topnav_drop_div{
	opacity: 1;
}
#top_bar .topnav_drop .topnav_drop_div .topnav_drop_list{
	float: left;
	margin: 0 28px;
}
#top_bar .topnav_drop .topnav_drop_div .topnav_drop_list li{
	width: 90px;
	margin: 10px 0;
	height: 30px;
	position: relative;
}
#top_bar .topnav_drop .topnav_drop_div .ercode_kf{
	width: 90px;
	float: left;
	margin: 0 28px;
	position: relative;
}
#top_bar .topnav_drop .topnav_drop_div .ercode_kf img{
	width: 89px;
	display: block;
	margin: 10px auto;
}
#top_bar .topnav_drop .topnav_drop_div .ercode_kf p{
	font-size: 12px;
	color: #29404e;
	line-height: 20px;
	text-align: center;
	width: 128px;
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -64px;
}
#top_bar .topnav_drop .topnav_drop_div .topnav_drop_list .wx_gzh img{
	width: 100px;
	height: 110px;
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -48px;
	z-index: 5;
	display: none;
}
#top_bar .topnav_drop .topnav_drop_div .topnav_drop_list .wx_gzh:hover img{
	display: block;
	-webkit-animation: xl .3s linear;
	-moz-animation: xl .3s linear;
	-ms-animation: xl .3s linear;
	-o-animation: xl .3s linear;
	animation: xl .3s linear;
}
@-webkit-keyframes xl{
	from{
		opacity: 0;
		-webkit-transform: translateY(-5px);
	}
	to{
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes xl{
	from{
		opacity: 0;
		-moz-transform: translateY(-5px);
	}
	to{
		opacity: 1;
		-moz-transform: translateY(0);
	}
}
@-ms-keyframes xl{
	from{
		opacity: 0;
		-ms-transform: translateY(-5px);
	}
	to{
		opacity: 1;
		-ms-transform: translateY(0);
	}
}
@-o-keyframes xl{
	from{
		opacity: 0;
		-o-transform: translateY(-5px);
	}
	to{
		opacity: 1;
		-o-transform: translateY(0);
	}
}
@keyframes xl{
	from{
		opacity: 0;
		transform: translateY(-5px);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}
#top_bar .topnav_drop .topnav_drop_div .topnav_drop_list .qq .nav_qq_hover{
	width: 263px;
	height: 110px;
	background: url(../images/nav_qq_hover.png) no-repeat;
	position: absolute;
	top: -110px;
	left: -5px;
	z-index: 5;
	display: none;
}
#top_bar .topnav_drop .topnav_drop_div .topnav_drop_list .qq:hover .nav_qq_hover{
	display: block;
	-webkit-animation: sf .3s linear;
	-moz-animation: sf .3s linear;
	-ms-animation: sf .3s linear;
	-o-animation: sf .3s linear;
	animation: sf .3s linear;
}
@-webkit-keyframes sf{
	from{
		opacity: 0;
		-webkit-transform: translateY(5px);
	}
	to{
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes sf{
	from{
		opacity: 0;
		-moz-transform: translateY(5px);
	}
	to{
		opacity: 1;
		-moz-transform: translateY(0);
	}
}
@-ms-keyframes sf{
	from{
		opacity: 0;
		-ms-transform: translateY(5px);
	}
	to{
		opacity: 1;
		-ms-transform: translateY(0);
	}
}
@-o-keyframes sf{
	from{
		opacity: 0;
		-o-transform: translateY(5px);
	}
	to{
		opacity: 1;
		-o-transform: translateY(0);
	}
}
@keyframes sf{
	from{
		opacity: 0;
		transform: translateY(5px);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}
#top_bar .topnav_drop .topnav_drop_div .topnav_drop_list .qq .nav_qq_hover p{
	width: 235px;
	display: block;
	margin: 16px 0 0 24px;
	font-size: 16px;
	line-height: 24px;
}
#top_bar .topnav_drop .topnav_drop_div .topnav_drop_list .qq .nav_qq_hover p span{
	width: 93px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	background: #d9c5a4;
	color: #fff;
	text-align: center;
	border-radius: 3px;
}
#top_bar .topnav_drop .topnav_drop_div .topnav_drop_list .qq .nav_qq_hover p em{
	color: #d9c5a4;
	margin-left: 10px;
}
.back_top{
	height:167px;
	width:57px;
	background:url(../images/img.png) 0 -116px no-repeat;
	position: fixed;
	bottom: 130px;
	left: 50%;
	margin-left: 650px;
	text-indent: -999em;
	z-index: 50;
	transition: all .3s;
}
.back_top:hover{
	transform: translateY(-20px);
}
.swiper-container, 
.swiper-slide{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.fadeInDown{
	animation:fadeInDown 1s ease both;
}
@keyframes fadeInDown{
	0% {
		opacity:0;
		transform:translateY(-20px)
	}
	100% {
		opacity:1;
		transform:translateY(0)
	}
}
.fadeInlong{
	animation:fadeInlong .4s both;
}
@keyframes fadeInlong{
	0% {
		opacity:0;
		top: 510px;
	}
	100% {
		opacity:1;
		top: 410px;
	}
}
.fadeInlong2{
	animation:fadeInlong2 .4s both;
}
@keyframes fadeInlong2{
	0% {
		opacity:0;
		transform: translateY(-30px);
	}
	100% {
		opacity:1;
		transform: translateY(0);
	}
}